body {
    font-family:Arial;
    background-color: white; 
    line-height: 130%;
    color: black;
}


#obal {
    width: 60%;
    margin: 10px auto;
}

header {
font-size: x-large;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    background-color: rgb(139,11, 11); 
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

h3 {
    color: blue;  
}

caption {
    color: white;
    background-color: gray;
}